<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.seaneschen.guitar-hole-count.tunnel</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/seaneschen/Library/Application Support/GuitarHoleCount/.local/cloudflared</string>
    <string>tunnel</string>
    <string>--url</string>
    <string>http://localhost:8787</string>
    <string>--no-autoupdate</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/seaneschen/Library/Application Support/GuitarHoleCount</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/seaneschen/Library/Application Support/GuitarHoleCount/data/cloudflared-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/seaneschen/Library/Application Support/GuitarHoleCount/data/cloudflared-launchd.log</string>
</dict>
</plist>
